/* put things that need to apply site-wide, such as css reset here */

body {
  margin: 0;

  background: white;

  @media (prefers-color-scheme: dark) {
    background: var(--color-deep-navy);
  }
}

/* see: https://nuxt.com/docs/getting-started/styling#the-css-property */
